Repository witzbeck/workbench: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, sqlfluff-fix

ruff:
  name: ruff check and fix
  entry: uv run ruff check --fix --unsafe-fixes
  language: system

sqlfluff-fix:
  name: sqlfluff fix
  entry: uv run sqlfluff fix
  language: system
  args:
  - --dialect
  - duckdb
  - --force
  - --quiet

Update .gitignore to exclude temporary files: added pattern for .tmp*/ to improve project cleanliness and prevent unnecessary file tracking.
  .gitignore
Due: none

Enhance CI workflow for dbt integration: added steps to set up a dbt profile with an in-memory DuckDB database and compile the dbt project to generate the manifest.json file.
  .github/workflows/ci.yml
Due: none

Remove unused asset checks and DuckDB configuration: deleted asset checks for holiday assets and removed the DuckDB file, streamlining the codebase and improving maintainability.
  dev.duckdb
  src/workbench/defs/asset_checks.py
  src/workbench/defs/assets/__init__.py
Due: ruff

Refactor asset loading in calendars.py: updated the load_assets_from_current_module call to improve readability by formatting parameters across multiple lines, enhancing maintainability.
  src/workbench/defs/assets/calendars.py
  src/workbench/defs/jobs.py
  src/workbench/defs/schedules.py
Due: ruff

Refactor schedule definitions in schedules.py: replaced build_schedule_from_job with ScheduleDefinition for update_holidays_schedule, enhancing clarity and maintainability of schedule configurations.
  src/workbench/defs/schedules.py
Due: ruff

Add job definitions to definitions.py: included jobs list with update_holidays function for improved job management and maintainability.
  src/workbench/defs/definitions.py
  src/workbench/defs/jobs.py
Due: ruff

Remove unused DbtProject instantiation in definitions.py: eliminated the project variable to streamline the codebase and enhance maintainability.
  src/workbench/defs/definitions.py
Due: ruff

Refactor asset initialization in __init__.py: removed the DbtProject instantiation and replaced it with a direct import from projects, streamlining the code and enhancing maintainability.
  src/workbench/defs/assets/__init__.py
  src/workbench/defs/projects.py
Due: ruff

Update import path for project in __init__.py: changed the import statement to reference the project module from the parent directory, enhancing code organization and maintainability.
  src/workbench/defs/assets/__init__.py
Due: ruff

Refactor SQL model references: updated SQL files to use the `ref` function for model references instead of direct table names, enhancing maintainability and consistency across the codebase.
  models/calendar/dateparts/dayofweek.sql
  models/calendar/dateparts/months.sql
  models/calendar/dateparts/quarters.sql
  models/calendar/dateparts/weeks.sql
  models/calendar/dateparts/years.sql
  models/calendar/relative/five_years_rolling.sql
  models/calendar/relative/last_30_days.sql
  models/calendar/relative/last_completed_fortnight.sql
  models/calendar/relative/last_completed_fortnight_last_year.sql
  models/calendar/relative/last_completed_month.sql
  models/calendar/relative/last_completed_quarter.sql
  models/calendar/relative/last_completed_week.sql
  models/calendar/relative/last_month.sql
  models/calendar/relative/last_year.sql
  models/calendar/relative/last_ytd.sql
  models/calendar/relative/one_year_rolling.sql
  models/calendar/relative/relative_dates.sql
  models/calendar/relative/second_last_completed_fortnight.sql
  models/calendar/relative/second_last_completed_month.sql
  models/calendar/relative/second_last_completed_quarter.sql
  models/calendar/relative/second_last_completed_week.sql
  models/calendar/relative/this_month.sql
  models/calendar/relative/this_year.sql
  models/calendar/relative/this_ytd.sql
  models/calendar/reports/business_days_per_month.sql
  models/calendar/reports/eom_report_dates.sql
  models/calendar/reports/eoq_report_dates.sql
  models/calendar/reports/report_dates.sql
  models/calendar/reports/week_first_business_day.sql
  models/calendar/sources.yml
  models/example/my_first_dbt_model.sql
  models/example/my_second_dbt_model.sql
  models/example/schema.yml
Due: sqlfluff-fix

Update dbt_assets decorator in __init__.py: instantiated CalendarGroupTranslator in the dbt_assets decorator to ensure proper initialization and enhance asset management.
  src/workbench/defs/assets/__init__.py
Due: ruff

Refactor SQL models to standardize week references: updated 'weekofyear' to 'week' in weeks.sql and relative_dates.sql for consistency and clarity in data representation.
  models/calendar/dateparts/weeks.sql
  models/calendar/relative/relative_dates.sql
Due: sqlfluff-fix

Refactor job definitions in jobs.py: renamed the asset job for holidays to 'update_holidays' and updated the jobs list to include the renamed job for improved clarity and maintainability.
  src/workbench/defs/jobs.py
Due: ruff

Add key_prefix to asset decorator in assets.py: included key_prefix=["main"] for improved asset identification and organization.
  src/workbench/defs/assets.py
Due: ruff

Add holiday columns with tests in sources.yml: included 'date' and 'holiday' columns with unique and not null tests to enhance data integrity and validation for holiday assets.
  macros/custom_tests.sql
  models/calendar/dateparts/schema.yml
  models/calendar/relative/schema.yml
  models/calendar/reports/schema.yml
  models/calendar/schema.yml
  models/calendar/sources.yml
  package-lock.yml
  packages.yml
Due: sqlfluff-fix

Update holiday asset tests: added additional validation checks for holiday columns in sources.yml, ensuring data integrity and enhancing overall test coverage.
  models/devops/.gitkeep
Due: none

update project paths
  profiles.yml
  src/workbench/constants.py
  src/workbench/projects.py
Due: ruff

Update holiday asset tests: enhanced validation checks for holiday columns in sources.yml, improving data integrity and test coverage.
  src/workbench/__init__.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  sqlfluff-fix: any of: \.sql$
